<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNEE-4W0il3bKGYZJXWn8lnpSMTh28DXo</string>
	<key>GCM_SENDER_ID</key>
	<string>553591940723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speakwise</string>
	<key>PROJECT_ID</key>
	<string>speakwise-app-82e5c</string>
	<key>STORAGE_BUCKET</key>
	<string>speakwise-app-82e5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553591940723:ios:b43be15e49f9308a9fec06</string>
</dict>
</plist>